<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Dialecte Hibernate pour MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Pilote JDBC pour MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- URL de connexion JDBC -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/base?zeroDateTimeBehavior=convertToNull</property>

        <!-- Nom d'utilisateur MySQL -->
        <property name="hibernate.connection.username">root</property>

        <!-- Mot de passe MySQL -->
        <property name="hibernate.connection.password"> </property>

        <!-- Afficher les requêtes SQL dans la console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Formater les requêtes SQL dans la console -->
        <property name="hibernate.format_sql">true</property>

        <!-- Option pour la gestion des tables (création, mise à jour, etc.) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mappings des classes -->
        <mapping class="entities.Salle" />
        <mapping class="entities.Machine" />

    </session-factory>
</hibernate-configuration>
